<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Trabalho.Properties.Settings.ConnectionListaID" connectionString="Provider=SQLNCLI11;Data Source=DESKTOP-LCCBKPF\SQLEXPRESS;Persist Security Info=True;User ID=teste001;Initial Catalog=TutorialDB"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>